<!DOCTYPE html>
<html>
<head>
  <title>CarShowroom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href='/welcome'>Home</a>
<br>
<a href='/sports_cars'>Sports cars</a>
<a href='/budget_cars'>Budget cars</a>
<a href='/specialist_vehicles'>Specialist vehicles</a>
<a href='/car_accessories'>Car accessories</a>
<%= yield %>

</body>
</html>
